*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    font-family: Georgia, serif;
    background: linear-gradient(to right, #3A3A3A, #5A5A5A);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 20px;
    background: linear-gradient(to right, #5A5A5A, #3A3A3A);
    color: #9FA4A3;
    text-align: center;
}

.header .logo {
    width: 70px;
    height: auto;
}

.header h1 {
    flex: 1;
    font-size: 30px;
}

.nav {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav a {
    color: #9FA4A3;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.2s;
}

.nav a:hover {
    background: #9FA4A3;
    color: #3A3A3A;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar, #content-area {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.sidebar {
    width: 250px;
    background: linear-gradient(to right,#3A3A3A,#5A5A5A);
    color: #9FA4A3;
    position: relative;
    padding: 20px;
    display: none;
    flex-shrink: 0;

}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a:hover {
    color: #5A5A5A;
}

.sidebar ul li a {
    color: #9FA4A3;
    font-size: 15px;
    font:bolder;
    text-decoration: none;
    padding: 15px 10px;
    transition: 0.2s;
    border-radius: 5px;
    display: block;
}
.sidebar.show-sidebar {
    display: block;
    opacity: 1;
    visibility: visible;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    background: #E2DCD0;
    font-size: 1.5rem;
}

#content-area {
    margin-top: 20px;
    color: #9FA4A3;
    padding: 20px;
    min-height: 200px;
    border-radius: 5px;
}

.show-content-area{
    display: block;
    opacity: 1;
    visibility: visible;
}

section:target {
    display: block;
}

section {
    display: none;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    font-size: larger;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #5A5A5A, #3A3A3A);
    color: #9FA4A3;
    padding: 10px;
}

.footer .social-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer a {
    color: #9FA4A3;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 5px;
    transition: 0.2s;
    border-radius: 5px;
}

.footer a:hover {
    background: #9FA4A3;
    color: #3A3A3A;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }


    .nav {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        position: static;
    }

    .main {
        align-items: center;
        text-align: center;
        font-size: 1rem;
    }
}